# Created by venv; see https://docs.python.org/3/library/venv.html
.env
Lib/



# Training files - DO NOT DEPLOY
grader/advanced_trainer.py
grader/train_model.py
grader/*.h5
defect_detector/trained_models/
*.h5
*.pt



